$primary-color: rgb(16,108,200);
$primary-sub-color: white;
$warn-color: rgb(255,87,34);
$warn-sub-color: white;
$default-color: white;
$default-sub-color: rgba(0, 0, 0, 0.87);
$flat-hover-color: rgba(158,158,158,0.2);

button::after{
    border: none;
}
.btn-container {
    width: 100%;
    display: inline-block;
    background-color: $default-color;
    color: $default-sub-color;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 25px;
    border: 2px solid $default-sub-color;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    position: relative;
    transition: all .5s;
}
.mini {
    width: auto;
    font-size: 12px;
    height: 30px;
    line-height: 27px;
    border-radius: 15px;
    font-weight: 300;
    padding: 0 15px;
}
.btn-container:active {
    box-shadow: 0 4px 8px 3px rgba(0,0,0,.26);
}
.btn-ripple {
    position: absolute;
    top: 0;
    left: 0;
}
.ripple-box {
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 50%;
    border: 0px solid $default-sub-color;
    animation: ripple ease .2s;
}
.disabled {
    opacity: .5;
}
.disabled:active {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.loading {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 1em;
    border-width: 0;
    border: 2px solid $default-color; 
    border-left: 2px solid $default-sub-color;
    animation: spin linear 1s infinite;
    animation-delay: .25s;
    transition: all .25s;
}
.primary {
    background-color: $primary-color;
    color: $primary-sub-color;
    border-color: $primary-sub-color;
    .ripple-box {
        border-color: $primary-sub-color;
    }
    .loading {
        border: 2px solid $primary-color; 
        border-left: 2px solid $primary-sub-color;
    }
}
.warn {
    background-color: $warn-color;
    color: $warn-sub-color;
    border-color: $warn-sub-color;
    .ripple-box {
        border-color: $warn-sub-color;
    }
    .loading {
        border: 2px solid $warn-color; 
        border-left: 2px solid $warn-sub-color;
    }
}
.flat {
    box-shadow: none;
    background-color: transparent;
    border: none;
    position: relative;
}
.flat.default {
    color: $default-sub-color;
    &:active {
        background-color: $flat-hover-color;
        box-shadow: none;
    }
}
.flat.warn {
    color: $warn-color;
    &:active {
        background-color: $flat-hover-color;
        box-shadow: none;
    }
    .ripple-box {
        border-color: $warn-color;    
    }
}
.flat.primary {
    color: $primary-color;
    &:active {
        background-color: $flat-hover-color;
        box-shadow: none;
    }
    .ripple-box {
        border-color: $primary-color;
    }
}
@keyframes ripple {
    0% {
        top: -10px;
        left: -10px;
        border-width: 10px;
    }
    100% {
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
        border-width: 0px;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}