.badge-container {
    position: relative;
    display: inline-block;
}
.badge {
    padding: 0 6px;
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 12px;
    color: white;
    background-color: #f5222d;
    transition: all .5s;
    &.dot {
        padding: 0;
        top: -3px;
        height: 6px;
        width: 6px;
        border-radius: 100%;
    }
    &.corner-badge {
        position: absolute;
        top: -8px;
        right: 0px;
        transform: translateX(50%);
    }
}
.hide {
    display: none;
}